.About{
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	min-height: 100vh;
}

.main_profile_img{
	max-width: 100%;
}

.introduction{
	margin: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 4rem 0;
}

.feature-pic{
	margin: auto;
}

.projects-header{
	padding: 20px 0 0 0;
	justify-content: center;
}

.filters{
	padding-bottom: 20px;
}

.filter-headings{
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.proj-filter-item{
	flex: 1;
	text-align: center;
}

.proj-filter-item:hover{
	cursor: pointer;
	background-color: darkslategray;
	color: white;
}

.portfolio-area{
	background: lightslategray;
}

.cat{
	text-align: center;
}

.proj-title{
	text-align: center;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.Home{
	margin: auto;
	padding: 11rem 0;
	height: 100vh;
}

.w-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-image{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 18vh;
}

.Portfolio{
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.Skills{
}
