.About{
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	min-height: 100vh;
}

.main_profile_img{
	max-width: 100%;
}

.introduction{
	margin: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 4rem 0;
}

.feature-pic{
	margin: auto;
}

.projects-header{
	padding: 4rem 1rem 0 1rem;
	justify-content: center;
}

.filters{
	padding-bottom: 20px;
}

.filter-headings{
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.proj-filter-item{
	flex: 1;
	text-align: center;
}

.proj-filter-item:hover{
	cursor: pointer;
	background-color: darkslategray;
	color: white;
}

.portfolio-area{
	background: lightslategray;
}

.cat{
	text-align: center;
}

.proj-title{
	text-align: center;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;  /* Always front */
}

.Home{
	margin: auto;
	padding: 11rem 0;
	height: 100vh;
}

.w-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-image{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 18vh;
}

.Portfolio{
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.single-portfolio{
	padding: 1rem;
}

.section-description{
	text-align: center;
}

.Skills{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
	min-height: 100vh;
	padding: 4rem 1rem;
}

.skill-container {
	width: 100%;
	background-color: #ddd;
}

.skills-wrapper{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.skills-area1,
.skills-area2{
	flex: 1;
	padding: 0 1rem;
}

.single-skill-container{
	padding: 1rem 0 1rem 0;
	text-align: center;
}

.skill-desc{
	margin: 0;
	font-weight: bold;
}

.skill-about{
	margin: 0;
}

.single-skill{
	text-align: left;
	padding: 10px;
	color: black;
}

.Advanced{
	width: 80%;
	background-color: #4CAF50;
}

.Intermediate{
	width: 60%;
	background-color: yellowgreen;
}

.Novice{
	width: 40%;
	background-color: darkorange;
}

.Basic{
	width: 20%;
	background-color: lightcoral;
}

.Resume{
	text-align: center;
	min-height: 40vh;
	padding: 1rem;
}

.Footer{
	height: 10vh;
	background-color: #4682b4;
}