.main-feature-area{
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.main_profile_img{
	max-width: 100%;
}

.mini-about{
	margin: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.feature-pic{
	margin: auto;
}

.projects-header{
	padding: 20px 0 0 0;
	justify-content: center;
}

.filters{
	padding-bottom: 20px;
}

.filter-headings{
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.proj-filter-item{
	flex: 1;
	text-align: center;
}

.proj-filter-item:hover{
	cursor: pointer;
	background-color: darkslategray;
	color: white;
}

.portfolio-area{
	background: lightslategray;
}

.cat{
	text-align: center;
}

.proj-title{
	text-align: center;
}

