.light-mode {
  --text-main-color: #142028;
  --text-off-color: #818ea3;
  --text-darker-color: #3d5170;

  --main-bg-color: #fff;
  --card-bg-color: #f4f5f6;
  --card-secondary-bg-color: #e2e7ec;

  --cta-color: #00b8d8;
  --green: #17c671;
  --red: #ea3943;
  --success-color: #17c671;
  --danger-color: #ea3943;
  --warning-color: #f8b60f;
}

.dark-mode {
  --text-main-color: #fff;
  --text-off-color: #818ea3;
  --text-darker-color: #cacedb;

  --main-bg-color: #152028;
  --card-bg-color: #142028;
  --card-secondary-bg-color: #23323c;

  --cta-color: #00b8d8;
  --green: #17c671;
  --red: #ea3943;
  --success-color: #cdffe7;
  --danger-color: #ffacb1;
  --warning-color: #f8b60f;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

.app-wrapper {
  background-color: var(--main-bg-color);
  color: var(--text-main-color);
}

.topnav {
  display: flex;
  position: relative;
  background-color: var(--card-bg-color);
  justify-content: space-between;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-weight: bold;
}

.nav-item:hover {
  background-color: var(--card-secondary-bg-color);
}

.active-nav {
  background-color: var(--card-secondary-bg-color);
}

.mobile-only {
  display: none;
}

.w-5 {
  width: 1.25rem;
}
.h-5 {
  height: 1.25rem;
}

.placeholder {
  height: 100vh;
}

.theme-toggle-button {
  margin: 0 0.5rem;
}

.button-1 {
  padding: 1rem;
  cursor: pointer;
  border: none;
  background: inherit;
  color: var(--text-main-color);
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .mobile-none {
    display: none;
  }

  .mobile-only {
    display: flex;
  }

  .topnav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
