body {
	display: flex;
	flex-flow: column;
	align-items: center;
}

footer {
	display: flex;
	justify-content: center;
	margin-top: 12px;
}

.score-area {
	display: flex;
	justify-content: center;
}

.controls-area {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-radius: 50%;
	border: 1px solid #c9c9c9;
}

.controls-area span {
	height: 48px;
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-button {
	border-radius: 8px;
	border: 2px solid black;
	padding: 4px;
}

.depressed {
	background-color: #858585;
}

canvas {
	border: 2px solid;
}

@media only screen and (max-width: 480px) {
	header {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
	}

	footer {
		position: absolute;
		bottom: 8vh;
		left: 50%;
		right: 50%;
	}

	canvas {
		max-width: 400px;
		width: 100%;
	}

	.score-area {
		position: absolute;
		right: 8px;
		margin-top: 64px;
	}
}
