body {
	display: flex;
	flex-flow: column;
	align-items: center;
}

header {
	text-align: center;
}

footer {
	display: flex;
	justify-content: center;
	margin-top: 12px;
	width: 400px;
}

.score-area {
	display: flex;
	justify-content: center;
}

.score-wrapper {
	display: flex;
	justify-content: space-between;
	width: 400px;
	margin-top: 8px;
	font-size: 1.2em;
	font-weight: 600;
}

.controls-area {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-radius: 50%;
	border: 1px solid #c9c9c9;
}

.controls-area span {
	height: 48px;
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-button {
	border-radius: 8px;
	border: 2px solid black;
	padding: 4px;
}

.depressed {
	background-color: #858585;
}

.game-controls-area {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.meta-controls {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-flow: column;
}

.meta-controls div {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0 0 8px 24px;
}

.meta-controls button {
	height: 24px;
	width: 24px;
	margin-right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas {
	border: 2px solid;
}

@media only screen and (max-width: 480px) {
	header {
		display: flex;
		flex-flow: column;
		align-items: center;
		margin-bottom: 8px;
	}

	footer {
		position: absolute;
		bottom: 4px;
	}

	canvas {
		max-width: 400px;
		width: 100%;
	}

	.score-wrapper {
		display: flex;
		justify-content: space-between;
		width: 95vw;
		margin-top: 8px;
		font-size: 1.2em;
		font-weight: 600;
	}
}
